* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  background-color: #363535;
}

main {
  display: flex;
  height: 20px;
  min-height: calc(100vh - 105px);
}
.button {
  cursor: pointer;
  border: 2px solid #9966cc;
  border-radius: 0 5px 5px 0;
  width: 60px;
  height: 42px;
  color: white;
  background-color: #9966cc;
}

.button svg {
  transition: transform 0.3s;
}

.button:hover svg {
  transform: rotate(45deg);
}

.article {
  width: 300px;
}

.chat {
  flex: 1;
  max-width: 800px;
  font-family: "Arial, sans-serif";
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 auto;
}

.tabs {
  border-right: 1px solid #ccc;
  text-transform: capitalize;
  color: white;
  align-self: left;
}

.clients {
  cursor: pointer;
  padding: 10px;
}

.selected {
  background: white;
  color: black;
}

.messages-container {
  height: calc(100% - 67px);
  border-radius: 5px;
  overflow-y: scroll;
  padding: 10px;
}

/* For webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #6b6b6b; /* Set the color of the thumb (the draggable part of the scrollbar) */
  border-radius: 6px; /* Set the border radius of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #363535; /* Set the color of the track (the area the thumb moves along) */
}

/* For Firefox */
/* Note: Firefox uses the -moz-scrollbar prefix */
* {
  scrollbar-color: #0077cc #f1f1f1; /* Set the color of the thumb and track in Firefox */
}

/* For Internet Explorer/Edge */
/* Note: IE and Edge use the -ms-scrollbar prefix */
* {
  scrollbar-face-color: #0077cc; /* Set the color of the thumb in IE and Edge */
  scrollbar-track-color: #f1f1f1; /* Set the color of the track in IE and Edge */
}
