@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* .tab{
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
} */